* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.main_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login_container {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.login_container .image_container {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container .login_box {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}