* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.main_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.login_container .image_container {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container .login_box {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}